<launch>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lidar_project)/launch/matching.rviz"></node>
    <node pkg="lidar_project" type="data_pretreat_node" name="data_pretreat_node" output="screen"></node>
    <node pkg="lidar_project" type="matching_node" name="matching_node" output="screen"></node>
</launch>